@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TropiQuarium</h1>
    <p class="lead">Fish are friends not food ! </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Getting started stuff goes here ...
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Some stuff</h2>
        <p>Some text...</p>
        <p><a class="btn btn-default" href="http://www.practicalfishkeeping.co.uk/content.php?sid=7005">Tropical fish</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Some more stuff..</h2>
        <p>Some more text...</p>
        <p><a class="btn btn-default" href="http://www.practicalfishkeeping.co.uk/content.php?sid=6576">Marine fish</a>
        </p>
    </div>

</div>
<div class="alert alert-success" role="alert">success...</div>
<div class="alert alert-info" role="alert">info...</div>
<div class="alert alert-warning" role="alert">warning...</div>
<div class="alert alert-danger" role="alert">alert...</div>